@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*
  Optional background colors:
    rgb(25, 28, 32); 
    rgb(15, 15, 15); 
    rgb(30, 31, 34);

    rgb(202, 175, 107) golden
    rgba(202, 175, 107, 0.2) golden - 0.2

    rgb(254, 243, 199) amber-100
    rgb(253, 230, 138) amber-200
    rgb(251, 191, 36) amber-400
    
*/

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 15, 15;
    --background-end-rgb: 253, 230, 138, 0.1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
      150%
    )
    rgb(var(--background-start-rgb));
    scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
